<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="http://bwtf.com/toyreview-images/timelines/botcon2013/hotlink/techspecs.jpg">

<a href="/signup">Create an account</a><br>
<a href="/login">Login</a>
