{{#if user}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-auto">
				{{> userprofile }}
			</div>
			<div class="col flex-row">
				{{#each photos}}
					<div class="flex-row">
						{{> photopost}}<br>
					</div>
				{{/each}}
			</div>
			{{!-- <div class="col col-lg-2">
				
			</div> --}}
		</div>
	</div>
{{/if}}