body {
  padding: 10px 50px 10px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgray;
  // background-image: url("../images/penguin.jpg");
  // background-size: cover;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("../images/penguin.jpg");
    background-size: cover;
  }
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url("../images/morning.jpg");
    background-size: cover;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  body {
    background-image: url("../images/iceforest.jpg");
    background-size: cover;
  }
}

a {
  color: rgb(25, 56, 68);
}

.jumbo-container {
  margin-top: 7em;
}

.upper-margin {
  margin-top: 6em;
}